.App {
  text-align: center;
}


html{
  background-color: #1E555C;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
html, #container .main-title{
  
  margin-bottom: 20px;
}
.length-control{
  display: inline-block;
  font-size: 30px;
 
}
html #container .length-control{
  width: 250px;
}
.btn-level{
  display: inline-block;
}
.main-title{
  text-align: center;
  font-size: 70px;
}
.timer{
  border: 7px solid #13353A;
  margin: 20px auto 10px auto;
  width: 270px;
  height: 160px;
  border-radius: 50px;
  position: relative;

}

.time-wrapper{
  position: absolute;
  width: 190px;
  height: 110px;
  left: 50%;
  top:50%;
  margin: -60px -40px
}
#time-left{
  font-family: digital;
  font-size: 80px;
  margin-left: -40px;
}
#timer-label{
  font-size: 30px;
  
}

.timer-control{
      display:flex;
      justify-content: center;
      align-items: center;
}

.author{
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
  font-size: 14px;
  color: #a50d0d;
  
}
.author a{
  text-decoration: none;
  color: #00264d;
  line-height: 26px;
}